


body {
  background-image: url(https://i.pinimg.com/564x/63/5e/63/635e631940fe9acba8654a7516e259e1.jpg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  overflow-x: hidden; 
  
}
main{
  background:linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 255, 255, 0));
  background-position:center;
  margin-left: auto;
  margin-right: auto;
  max-width:700px;
  overflow-x: hidden; 
}

/*Top*/
      h1 {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 0px;
        font-weight: 200;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #fff, 0 0 82px #fff,0 0 92px #fff;
        font-family: Impact, serif;
        text-align: center;
        padding: 20px 0 0 0;
                  }
      .smaller{
        font-size:30px;
        padding: 0;
                  }        
      .established {
        font-style: italic;
        text-align: center;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #fff, 0 0 82px #fff,0 0 92px #fff;
      }



/*Image scroll*/
      .photobanner {
        padding:2px;
        background-color: rgba(0, 0, 0, 0.5);
        overflow-y: hidden;
        overflow-x: hidden; 
        text-align:justify;
        white-space: nowrap;
        max-height: 250px;
        justify-content: space-around;
	    }
      .photobanner img{
        height: 220px;
        object-fit: cover;
      }

      



/*Links to profiles*/
      .row {
        display: flex;
      }
      .column {
        flex: 50%;
        text-align:center;
        color: white;
        max-width: 50%;
      }
      .category{
        text-align: center;
        color: #fff;
        font-size: 20px;
        text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 42px #000, 0 0 82px #000,0 0 92px #000;  
      }
      .name{
        font-size: 20px;
        text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 42px #000, 0 0 82px #000,0 0 92px #000;  
      }
      .fweb{
        font-size: 19px;
        text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 42px #000, 0 0 82px #000,0 0 92px #000;
        font-weight: 500;
        padding:0px 0 2px 0;  
      }
      .web{
        font-size: 19px;
        text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 42px #000, 0 0 82px #000,0 0 92px #000;
        font-weight: 500;
        padding:20px 0 2px 0;
      }
      .links{
        font-size: 14px;
        padding: 2px;
      }

/*Lines*/
      hr {
        height: 0.5px;
        background-color: black;
        border-color: black;
        margin: 1px;
        }
      .thin{
        height:50%;
      }  

/*Links color*/
      a {
        color: #fff;
        text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 50px #000,0 0 60px #000;
        }
      a:visited {
        color: #fff;
        text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 50px #000,0 0 60px #000;
        }
      a:hover {
  color: (220, 220, 220);
        }
      a:active {
  color: rgb(220, 220, 220);
        }

/*button*/
#totop{
  position: fixed;
  bottom: 5px;
  left: 5px;
  font-size: 20px;
  background-color:lightblue;
  color: black;
  height: 40px;
  width: 175px;
  }
  .button__text{
    position : relative ;
    z-index : 3 ;
    transition : all .3s ease ;
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
  }
  